.button {
    -fx-font-family: 'Impact';
    -fx-font-size: 20;
    -fx-background-color: lightgrey;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 15, 0, 5, 5);
}

.button:hover {
    -fx-background-color: #ffffff;
}

.button:pressed {
    -fx-background-color: #a9a9a9;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.7), 15, 0, 3, 3);
}

#progressLabel {
    -fx-font-family: 'Impact';
    -fx-font-size: 30;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-alignment: center;
}

#launchButton {
    -fx-font-size: 50;
}

#quitButton {
    -fx-font-size: 50;
}

#okButton {
    -fx-font-size: 36;
}

#chatTextArea {
    -fx-font: 20 'Times New Roman';
    -fx-font-weight: bold;
}